@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 12, 17, 26;
  --background-end-rgb: 12, 17, 26;
  --background-log-message-rgb: 15, 20, 29;
  --log-message-sep-rgb: 20, 25, 34;
  --bar-rgb: 41, 57, 87;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.console_container {
  background-color: rgb(var(--bar-rgb));
  position: fixed;
  bottom: 0;
  height: 20%;
  width: 100%;
  display: flex;
  border: 1px solid rgb(var(--background-start-rgb));
}

.console_controls {
  flex: 2;
  border: 1px solid rgb(var(--background-start-rgb));
  height: 100%;
}

.console_main {
  border: 1px solid rgb(var(--background-start-rgb));
  border-left: none;
  flex: 50;
  width: 100%;
}

.console_label {
  margin-top: 10px;
  margin-left: 20px;
}

.console_lines {
  background-color: rgb(var(--background-start-rgb));
  width: 98.5%;
  height: 80%;
  bottom: 0;
  margin-top: 0.5%;
  border: 1px solid black;
  overflow-y: scroll;
}

.log_message_flex {
  display: flex;
  background-color: rgb(var(--background-log-message-rgb));
  border-bottom: rgb(var(--log-message-sep-rgb)) solid 2px;
}

.console_line_time {
  flex: 1;
}

.console_line_message {
  flex: 4;
}

.debug_log_messages {
  color: aqua;
}

.info_log_messages {
  color: lawngreen;
}

.warn_log_messages {
  color: yellow;
}

.error_log_messages {
  color: red;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
